@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --font: 'Bai Jamjuree', sans-serif;
    /* Colors */
    --strong-cyan: #26baa4;
    --strong-cyan-hover: #1e9b8a;
    --light-blue: #6173ff;
    --light-blue-hover: #5364CA;
    --dark-grayish-blue: #4c545d;
    --grayish-blue: #9fabb2;
    --light-grayish-blue: #F5F6F8;
}

/* General Styles */
body {
    background: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: var(--font);
    font-size: 100%;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-top: 3.75rem;
}

.container {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    padding: 3.75rem 1rem;
}

/* Typography Styles */
h1, h2, h3 {
    color: var(--dark-grayish-blue);
    font-weight: 600;
}

.default__title {
    font-size: 1.55rem;
    padding-bottom: 2rem;
}

.default__subtitle {
    font-size: 1.35rem;
    padding-bottom: .75rem;
}

/* Buttons Styles */
.button {
    padding: .75rem 5rem;
    border-radius: 32px;
}

.button__primary {
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.15), 0px 2px 0px 1px var(--strong-cyan-hover);
}

.button__secondary {
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.15), 0px 2px 0px 1px var(--light-blue-hover);
}

/* Main Section */
.main__title {
    font-size: 2rem;
    padding: 4rem 0 2rem;
}

.main__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
}

/* Track Section */
.track__section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.track__list li:not(:last-child) {
    padding-bottom: 3rem;
}

/* Access Section */
.access__image {
    width: 95%;
    padding-top: 3rem;
}

/* Supercharge Section */
.supercharge__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 6rem;
}

.supercharge__icon {
    padding-bottom: 2rem;
}

/* Clients Section */
.clients__list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Footer */
.footer {
    background-color: var(--light-grayish-blue);
    font-weight: 600;
}

.footer__logo {
    width: 2.8rem;
} 

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 2.5rem;
}

.footer__icon:not(:last-of-type) {
    margin-right: 3rem;
}